.register_page_wrapper, .login_page_wrapper {
    margin-top: 50px;
}

.register_page_wrapper .logo-wrapper, .login_page_wrapper .logo-wrapper {
    text-align: center;
    margin-bottom: 25px;
}

.register_page_wrapper .btn-register, .login_page_wrapper .btn-login {
    width: 100%;
    border-radius: 0;
    margin-bottom: 5px;
}